# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env

# IDEs and editors
.vscode/
.idea/
*.suo
*.swp
*.tmp
*.log

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# OS files
.DS_Store
Thumbs.db

# Pytest
htmlcov/
.coverage
.coverage.*
.cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# mypy
.mypy_cache/

# temp files
*.bak
*.backup
*~
